# GNS3 Connection Settings
GNS3_IP=your_gns3_server_ip
GNS3_PORT=your_gns3_server_port
PROJECT_ID=your_gns3_project_id

# Network Device Defaults
DEFAULT_DEVICE_HOSTNAME=your_default_device_hostname
DEFAULT_DEVICE_TYPE=your_default_device_type
DEFAULT_DEVICE_USERNAME=your_default_device_username
DEFAULT_DEVICE_PORT=your_default_device_port
DEFAULT_DEVICE_PASSWORD=your_default_device_password

# SSH Configuration
SSH_TIMEOUT=60
SSH_AUTH_TIMEOUT=30
SSH_DELAY_FACTOR=0.5
SSH_FAST_CLI=true

#
DISCORD_BOT_TOKEN= YOURS
DISCORD_CHANNEL_ID= YOURS
DISCORD_PREFIX=!net

#
NVIDIA_API_KEY=your_nvidia_api_key_here
NVIDIA_MODEL= YOURS
